<link rel="stylesheet" href="../../assets/stylesheets/stylesheet.css">
<body>

<main>
  <div class="boxy" id="<%= dom_id order %>">
    <p>
      <strong>Customer:</strong>
      <%= order.customer.name%>
    </p>

    <p>
      <strong>Order date:</strong>
      <%= order.order_date %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= order.status %>
    </p>

  </div>

</main>


</body>
