<link rel="stylesheet" href="../../assets/stylesheets/stylesheet.css">
<body>
<header>
  <h1>Warehouse management system</h1>
</header>

<main>

  <div class="boxy">

    <h2>New order</h2>

    <%= render "form", order: @order , style: 'margin-top: 10px; background-color: rgb(248, 203, 210)'  %>

    <br>

    <div>
      <%= link_to "Back to orders", orders_path , style: 'margin-top: 10px; background-color: rgb(248, 203, 210)'  %>
    </div>

  </div>

</main>



</body>
