<link rel="stylesheet" href="../../assets/stylesheets/stylesheet.css">
<body>

<main>

  <div class="boxy" id="<%= dom_id shipment %>">
    <p>
      <strong>Order:</strong>
      <%= shipment.order_id %>
    </p>

    <p>
      <strong>Shipment date:</strong>
      <%= shipment.shipment_date %>
    </p>

  </div>

</main>


</body>
